@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: "Times New Roman", serif;
    font-size: 12pt; /*såhär kommenterar man*/
    .ingredients {
        font-weight: bold;
    }
    #burgerselection {
        background-color: black;
        color: white;
    }
    button:hover {
        background-color: lightgreen;
        cursor: pointer;
    }
}

section {
    margin: 25px;
    padding: 15px;
    border: 2px dashed;
}

button {
    margin: 25px;
}

.burgeroptions {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
}

.burger { /* burgar sektion */
    padding: 15px;
    margin: 15px;
}

.burgerimage {
    width: 80%;
}

h1 {
    font-family: 'Agbalumo';
}

header {
    margin: 15px;
    padding: 15px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

header img {
    width: 100%;
    opacity: 0.6;
    height: auto;
}

header h1 {
    position: absolute;
    top: 50px;
    left: 30px;
    padding: 20px;
}